<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: beige;
        }
    </style>
</head>
<body>

    <h1> Kolej Profesional MARA Beranang</h1>
    <strong>COURSE</strong> <br><br>

    <form action="newcourse" method="post">
        {% csrf_token %}
        Course Code :
        <input name="code">
        <br><br>

        Description :
        <input name="desc">
        <br><br>
        <input type="submit" value="SAVE">
    </form>
    {{message}}
<br><br>
    <a href="/KPMB/course/">Back</a>
    
</body>
</html>