<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    body{
         background-color: beige;

        }

    </style>
</head>
<body><center>
    
    <h1> WELCOME TO KPM BERANANG </h1> <br><br>
    <strong> SEARCH COURSE </strong>
    <br><br>
    <form action="search" method="get">
        Enter Course : <input type="text" name="c_code">
        <input type="submit" value="SEARCH">
    </form>

    <p>

        {% for value in data %}
        code : {{value.code}} <br><br>
        description : {{value.description}} <br><br>
        {% endfor %}

    </p>
    <br><br>

    <a href="/KPMB">Home</a>

</center>
</body>
</html>